/PolyGonk/Library/*
/PolyGonk/Assets/CrazyOptimizer/*
/PolyGonk/Assets/CrazyOptimizer.meta
/PolyGonk/Assets/LegendsOfLearning-Example/*
/.vs/*
/PolyGonk/.vs/*
/PolyGonk/.vsconfig
/PolyGonk/Assets/LegendsOfLearning-Example.meta
/PolyGonk/Assets/TextMesh Pro.meta
/PolyGonk/Assets/TextMesh Pro/*
/PolyGonk/Assets/WebGLLoLDemo.meta
/PolyGonk/Assets/WebGLLoLDemo/*
/PolyGonk/obj/*
